<div class="container">
    <div class="top">
      <div class="bread"><span>Jobs</span>&nbsp;&nbsp;/ Senior Rust Developer</div>
    </div>
  
    <div class="wrapper">
      <div class="left">
        <div class="title">Senior Rust Developer</div>
  
        <div class="sub-title">64cb92a6f83afa3f25bde9cb</div>
  
        <div class="description">
          As a Senior Rust Developer, you will work on extremely high scale Rust
          web services and backend systems. Your main responsibilities will
          include designing and developing solutions for highly scalable web and
          backend systems, proactively identifying and solving performance issues,
          and maintaining a high bar on code quality and unit testing. You should
          have at least 8+ years of hands-on software development experience, with
          at least 2+ years of Rust development experience. Knowledge of cargo
          packages for Kafka, Redis, etc. is required. Strong CS fundamentals,
          including system design, data structures, and algorithms, are essential.
          Expertise in backend and web services development, as well as good
          analytical and troubleshooting skills, are also expected. Experience
          working with large scale web services and applications, exposure to
          Golang, Scala or Java, and familiarity with big data systems like Kafka,
          Spark, Hadoop, etc. will help you stand out.
        </div>
  
        <div class="about">About Company</div>
  
        <div class="description">
          "Conviva is the only global streaming analytics platform for big data
          that collects, standardizes, and puts trillions of cross-screen,
          streaming data points in context, in real time. The Conviva platform
          provides comprehensive, continuous, census-level measurement through
          real-time, server-side sessionization at unprecedented scale. With a
          global footprint of more than 500 million unique viewers in 180
          countries watching 220 billion streams per year across 3 billion
          applications streaming on devices, Conviva offers customers a unique
          level of actionability and scale from continuous streaming measurement
          insights and benchmarking across every stream, every screen, every
          second.
        </div>

        <div class="about">Job Summary</div>
  
        <div class="description">
          "Conviva is the only global streaming analytics platform for big data
          that collects, standardizes, and puts trillions of cross-screen,
          streaming data points in context, in real time. The Conviva platform
          provides comprehensive, continuous, census-level measurement through
          real-time, server-side sessionization at unprecedented scale. With a
          global footprint of more than 500 million unique viewers in 180
          countries watching 220 billion streams per year across 3 billion
          applications streaming on devices, Conviva offers customers a unique
          level of actionability and scale from continuous streaming measurement
          insights and benchmarking across every stream, every screen, every
          second.
        </div>

        <div class="about">Changes Made</div>
  
        <div class="description">
          "Conviva is the only global streaming analytics platform for big data
          that collects, standardizes, and puts trillions of cross-screen,
          streaming data points in context, in real time. The Conviva platform
          provides comprehensive, continuous, census-level measurement through
          real-time, server-side sessionization at unprecedented scale. With a
          global footprint of more than 500 million unique viewers in 180
          countries watching 220 billion streams per year across 3 billion
          applications streaming on devices, Conviva offers customers a unique
          level of actionability and scale from continuous streaming measurement
          insights and benchmarking across every stream, every screen, every
          second.
        </div>
      </div>

    </div>
  
    <div class="footer">
      <div class="btn">
        <button mat-stroked-button color="primary">Cancel</button>
        &nbsp;&nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="openApplySideNav()">Upload Resume</button>
      </div>
    </div>
  
  </div>
  