<div class="container">
  <div class="top">
    <div class="title"><span>Jobs</span>&nbsp;&nbsp;/ Job Detail</div>
  </div>

  <div class="wrapper">
    <div class="left">
      <div class="title">Document Preview</div>

      <div class="title">{{jobData?.Job}}</div>

      <div class="description">
        {{jobData?.Job_Description}}
      </div>

      <div class="about">About Company</div>

      <div class="description">
        {{jobData?.About_Company}}
      </div>


      <div class="about" *ngIf="jobData?.Job_Summary">Job Summary</div>

      <div class="description" *ngIf="jobData?.Job_Summary">
        {{jobData?.Job_Summary}}
      </div>

    </div>

    <div class="right">
      <div class="title">AI Suggestions</div>

      <div class="title">
        <span> Job Description </span>

        <span class="insert" (click)="insertNewData('description')"> Insert in Original </span>
      </div>

      <div class="description">
        {{previewResponse?.Job_Description}}
      </div>

      <div class="about">
        <span> About Company </span>

        <span class="insert" (click)="insertNewData('about')"> Insert in Original </span>
      </div>

      <div class="description">
        {{previewResponse?.About_Company}}
      </div>

      <div class="about">
        <span> Job Summary </span>

        <span class="insert" (click)="insertNewData('summary')"> Insert in Original </span>
      </div>

      <div class="description">
        {{previewResponse?.Job_Summary}}
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="btn">
      <button mat-stroked-button color="primary" (click)="CancelPostJob()">Cancel</button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" (click)="backtoJobList()">Post Job</button>
    </div>
  </div>

</div>
