<div class="container">
  <div class="parent">
    <div class="headline">Join as a HR or Candidate</div>
    <div class="choice">
      <mat-radio-group aria-label="Select an option">
        <div class="hr-section">
            <div class="profile-section">
                <img src="../../../assets/images/hr-logo.svg" alt="">
                <mat-radio-button value="1" routerLink="/home/hrjobs"></mat-radio-button>
            </div>
            <div class="i-am">
                I'm a HR,
            </div>
            <div class="hiring">
                Hiring for a Job
            </div>
        </div>
        <div class="candidate-section">
            <div class="profile-section">
                <img src="../../../assets/images/candidate-logo.svg" alt="">
                <mat-radio-button value="2" routerLink="/home/candidatejobs"></mat-radio-button>
            </div>
            <div class="i-am">
                I'm a Candidate,
            </div>
            <div class="hiring">
                Looking for a Job
            </div>
        </div>
      </mat-radio-group>
    </div>

    <!-- <div class="login"></div>
    <div class="sign-up">Don't have an account? <span>Sign up</span></div> -->
  </div>
</div>
